@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  background-color: #b28b7e; /* A warm brownish color that pairs well with cream */
  color: #FFFDF0; /* Text color matching the background */
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #a0796b; /* Slightly darker for hover effect */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Slightly deeper shadow */
  transform: translateY(-2px); /* Lifts button on hover */
}

.button:active {
  background-color: #8e695d; /* Even darker when clicked */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Reduced shadow on click */
  transform: translateY(0); /* Moves button back down */
}

.banner {
  background-image: './images/banner.png';
  background-size: cover;
  position: relative;
  display: flex;
  height: 250px;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, #FFFDF0 100%);
}

.next-section {
  background-color: #FFFDF0;
  display: flex;
  justify-content: center;
  margin-top: -50px;
  padding-top: 100px;
}

/* CSS for a title with a similar font style and mobile-friendly size */
.title {
  font-family: 'Playfair Display', Georgia, serif;
  font-size: 24px; /* Default size for mobile */
  color: #b28b7e;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

/* Larger screens will show the title slightly larger */
@media (min-width: 768px) {
  .title {
      font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .title {
      font-size: 40px;
  }
}

/* Navigation Bar */
.navbar {
  position: fixed;
  bottom: 0;
  background-color: #FFFDF0; /* Subtle, warm background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  position: relative;
}

.navbar a {
  font-family: 'Playfair Display', serif;
  color: #ce9b3f;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #8a5e50;
}

/* Underline Hover Effect */
.navbar a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #8a5e50;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
}

#countdown {
  background-color: #FFFDF0; /* Subtle background color */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 0px auto;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Playfair Display', serif;
}

#countdown h2 {
  color: #b28b7e;
  font-size: 24px;
  margin-bottom: 10px;
}

#timer {
  font-size: 22px;
  color: #8a5e50;
  font-weight: bold;
}

.paragraph {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  color: #4b3832; /* Soft, warm brown */
  line-height: 1.6;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
  padding: 0 15px;
}

.paragraph::first-letter {
  font-size: 24px;
  font-weight: bold;
  color: #8a5e50; /* Accentuated color */
}

.food-recommendations {
  padding: 20px;
  background-color: #FFF8EC;
  border-radius: 8px;
  max-width: 600px;
  margin: 30px auto;
  font-family: 'Playfair Display', serif;
}

.food-recommendations h2 {
  color: #8a5e50;
  text-align: center;
  margin-bottom: 15px;
}

.food-recommendations ul {
  list-style: none;
  padding: 0;
}

.food-recommendations li {
  margin-bottom: 15px;
  font-size: 16px;
  color: #4b3832;
}

.food-recommendations a {
  color: #b28b7e;
  text-decoration: none;
}

.food-recommendations a:hover {
  color: #8a5e50;
  text-decoration: underline;
}

.gallery-instructions {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin: 1rem 0 2rem;
  padding: 0.2rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-weight: 300;
  animation: fadeIn 0.8s ease-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 0.8;
  }
}

/* Responsive design */
@media (max-width: 768px) {
  .gallery-instructions {
      font-size: 1rem;
      margin: 0.8rem 0 1.5rem;
  }
}
